/Apple.class
/Bag.class
/Bullets.class
/Gun.class
/HpPotion.class
/Item.class
/ItemBase.class
/KebabItem.class
/Key1.class
/Key2.class
/MagicWand.class
/ManaPotion.class
/RustyAmulet.class
/Soda.class
/Sword.class
