/Alley.class
/Backrooms.class
/BaseLocation.class
/BrokenAlley.class
/Cell.class
/Church.class
/Crossroads.class
/Diner.class
/DinerKitchen.class
/Exit.class
/Graveyard.class
/Highway.class
/Kebab.class
/Location.class
/Motel.class
/MotelEntry.class
/MotelRoom.class
/Park.class
/PoliceStation.class
/Pub.class
/River.class
/Spaceship.class
/StrangeOffice.class
/Street1.class
/Street2.class
/Tunnel.class
